@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");

.mainProject{
  font-family:"Rubik", sans-serif;
}
.nameProject {
  text-align: center;
  font-size: 3rem;
}
.myProject {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.cardImg {
  border-radius: .5rem;
  width: 25rem;
  height: 15rem;
  transition: 0.1s;
  cursor: pointer;
}
.cardImg:hover{
  border: .1rem solid #000;
}

.skillsTag{
  display: flex ;
  margin-top: .3rem;
}

.tagHtml, .tagCss, .tagJS, .repository{
  border: .1rem solid ;
  border-radius: 30rem;
  padding: .5rem;
  margin-right: .5rem;
  font-size: .7rem;
}

.skillsTag a {
  text-decoration: none;
  list-style: none;
  color: #171718;
}

.repository{
  background-color: #d4d4d4;
}

.tagHtml{
  border-color: #c54a10;
}

.tagCss{
  border-color: #5fa3fc;
}

.tagJS{
  border-color: #ffee00;
}

.arrowLeft{
  margin: 0  7rem;
  padding-top: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fa-solid{
  color: #171718;
}


@media(max-width: 1440px){
  .nameProject{
    font-size: 2.8rem;
  }
}
@media(max-width: 1024px){
  .nameProject{
    font-size: 2.7rem;
  }
}

@media(max-width: 768px){
  .nameProject{
    font-size: 2.7rem;
  }
}
@media(max-width: 425px){
  .arrowLeft {
    margin: 0 0 0 2rem ;
    padding-top: 2rem;
  }

  .nameProject{
    font-size: 2.4rem;
  }

  .cardImg{
    width: 19rem;
    height: 10rem;
  }

  .tagHtml, .tagCss, .tagJS, .repository{
    padding: .4rem;
    font-size: .7rem;
  }
}
@media(max-width: 375px){
  .arrowLeft {
    margin: 0 0 0 2rem ;
    padding-top: 2rem;
  }

  .cardImg{
    width: 20rem;
    height: 12rem;
  }

  .nameProject{
    font-size: 2.1rem;
  }
}
@media(max-width: 320px){
  .arrowLeft {
    margin: 0 0 0 2rem ;
    padding-top: 2rem;
  }

  .cardImg{
    width: 19rem;
    height: 10rem;
  }

  .nameProject{
    font-size: 2.1rem;
  }

  .tagHtml, .tagCss, .tagJS,.repository{
    font-size: .7rem;
    padding: .4rem;
    
  }
}